/**
*Project OBLS
*Author: Framework;
*Online Based Learning System
*/

.main-menu{
	font-size: 18px;
	border-top: 3px solid green;
}
.main-menu i{
	color: green;
}
.dropdown-alerts{
	width: 310px;
    min-width: 0;
}
.dropdown-messages{
	width: 310px;
    min-width: 0;
}
.main-menu .dropdown-menu li a{
    white-space: normal;
}
